<%- include("./partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="post">
            <h1 class="h2 mb-3 font-weight-normal d-flex justify-content-center">Sign Up</h1>
                <input class="form-control" type="text" name="username" placeholder="Username" required>
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <input class="form-control" type="text" name="firstName" placeholder="First Name" required>
                <input class="form-control" type="text" name="lastName" placeholder="Last Name" required>
                <input class="form-control" type="email" name="email" placeholder="Email" required>
                <input class="form-control" type="text" name="avatar" placeholder="Avatar url" required>
                <input class="form-control" type="text" name="adminCode" placeholder="Admin code">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>        
        </form>
        <div class="form-signin">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>   
</div>

<%- include("./partials/footer") %>
